The inputs are {{a}} and {{b}}
{% if a>b %}
The larger number is {{a}}
{% endif %}
{% for eachChar in myString %}
This is {{eachChar}}
{% endfor %}
{% for eachPkg in myList %}
The package name is {{eachPkg}}
{% endfor %}